<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Confirmed content</title>
	<link rel="stylesheet" href="/style.css">
	<script type="text/javascript" src="/static/content.js"></script>
</head>

<body class="bg-neutral-800">
	<div
		class="flex justify-center bg-fri3d_C bg-pattern bg-top bg-[length:900px] sm:bg-[length:1800px] h-[75px] sm:h-[150px] lg:h-[225px]">
		<a href="https://www.fri3d.be/"
			class="bg-black bg-logo_white bg-[length:100px] sm:bg-[length:250px] h-[75px] w-[150px] sm:h-[150px] sm:w-[300px] bg-no-repeat bg-center"><span
				class="sr-only">Fri3d Camp</span></a>
	</div>
	<div class=" p-4 ">
		<header class="mb-3">
			<h1 class="text-2xl font-bold text-center text-white">Confirmed content 2024</h1>
		</header>
		<section class="w-full flex flex-col flex-wrap gap-3 h-screen content-center justify-start"  id="js_container">
			<% filteredSubmissions.forEach(submission=> { %>
				<article class="w-80 md:w-96 lg:w-108 shrink p-4 bg-white">
					<h2 class="font-bold text-lg mb-2 pb-2 border-b-2 border-fri3d_C">
						<%= submission.title %>
					</h2>
					<div class="mb-2 italic">
						<h3 class="font-bold inline">Speaker(s):</h3>
						<%= submission.speakers.map(speaker=> speaker.name).join(', ') %>
					</div>
					<p>
						<%= submission.abstract %>
					</p>
				</article>
				<% }); %>
		</section>
</body>

</html>